{% extends "base.html" %}
{% load str_extensions %}

{% block page_title %}
  Доступные курсы
{% endblock %}

{% block page_heading %}
<h1 class="mt-4 mb-3">
  Курс: {{course.title|capitalize}}
  {% if user.is_superuser or user in course.teachers.all %}
  <small><a href="{% url 'courses:update_course' pk=course.pk %}"><small>&#9998;</small></a></small>
  {% endif %}
</h1>
{% endblock %}

{% block page_breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Домашняя страница</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'courses:list' %}">Доступные курсы</a>
  </li>
  <li class="breadcrumb-item active">
    Курс: {{course.title|capitalize}}
  </li>
</ol>
{% endblock %}

{% block page_content %}
<!-- Portfolio Item Row -->
<div class="row mb-4">

  <div class="col-md-6">
    {% if course.has_thumbnail %}
      <img class="img-fluid" src="{{course.get_thumbnail_url}}" alt="course_thumbnail">
    {% endif %}
  </div>
  <div class="col-md-6">
    <h4 class="my-3">О курсе:</h4>
    <p>{{course.overview|safe|linebreaks}}</p>
    {% if course.prereqs %}
      <h4 class="my-3">Необходимые знания:</h4>
      {{course.prereqs|linenumbers|linebreaksbr}}
    {% endif %}
    <p class="my-3">
      <a href="{% url 'courses:lessons' pk=course.pk %}">
        <button class="btn btn-sm btn-info">Перейти к лекциям</button>
      </a>
    </p>
    {% with course_teachers=course.teachers.all course_students=course.students.all %}
      {% if course_teachers %}
        <h4 class="my-3">Преподаватели курса:</h4>
        {{ course_teachers|join:", " }}
      {% endif %}
      {% if course_students %}
        <h4 class="my-3">Участники курса:</h5>
        {{ course_students|join:", " }}
      {% endif %}
    {% endwith %}
  </div>
</div>
<!-- /.row -->
{% endblock %}
