{% extends "base.html" %}

{% block page_title %}
  Список тренингов
{% endblock %}

    {% block page_heading %}
    <h1 class="mt-4 mb-4 display-4 d-inline-block">
      Список тренингов
    </h1>
    {% if user.is_superuser %}
      <a class='h5' href="{% url 'courses:create_course' %}">Добавить тренинг</a>
    {% endif %}
    {% endblock %}

    {% block page_breadcrumb %}
    {% endblock %}

    {% block page_content %}
    {% for course in courses %}
    <div class="container">
    <div class="row bg-light rounded-lg p-4">
      <div class="col-md-12 mb-3">
        <h2>
          <a class="text-dark" href="{% url 'courses:detail' pk=course.pk %}">{{course.title}}</a>
          {% if user in course.students.all %}
            <span class="h5 float-right">Вы участник!</span>
          {% endif %}
        </h3>
      </div>
      <div class="col-md-5">
        <a href="{% url 'courses:detail' pk=course.pk %}">
          {% if course.has_thumbnail %}
            <img class="img-fluid rounded-lg mb-3 mb-md-0" src="{{course.get_thumbnail_url}}" alt="course_thumbnail">
          {% endif %}
        </a>
      </div>
      <div class="col-md-7">
        {% if course.teachers.count > 1 %}
          <p class="h5">Преподаватели тренинга: {{ course.teachers.all|join:", " }}</p>
        {% elif course.teachers.count == 1 %}
          <p class="h5">Преподаватель тренинга: {{ course.teachers.all|join:", " }}</p>
        {% endif %}
        <p>{{course.overview|truncatewords_html:40|linebreaksbr}}</p>
        <p class="h6 mb-3">Блоков занятий: {{course.course_chapters.count}}</p>
        {% if course.prereqs %}
          <h5>Необходимые знания:</h5>
          <p>{{course.prereqs|truncatewords_html:35|linenumbers|linebreaksbr}}</p>
        {% endif %}
        <p class="h5">{{course.students.count}} участников</p>
      </div>
    </div>
    <!-- /.row -->
    </div>

    <br>
    {% endfor %}

    <!-- Pagination -->
    {% if page_obj.has_other_pages %}
    <ul class="pagination justify-content-center mb-4">
      {% for page_num in page_obj.paginator.page_range %}
        {% if page_num != page_obj.number %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active">
          <span class="page-link">{{ page_num }}</span>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}

  </div>
  <!-- /.container -->
  {% endblock %}
