{% extends "base.html" %}

{% block page_title %}
  Доступные курсы
{% endblock %}

    {% block page_heading %}
    <h1 class="mt-4 mb-3">
      Доступные курсы
      {% if user.is_superuser %}
      <br>
      <small><a href="{% url 'courses:create_course' %}">Добавить курс</a></small>
      {% endif %}
    </h1>
    {% endblock %}

    {% block page_breadcrumb %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Домашняя страница</a>
      </li>
      <li class="breadcrumb-item active">Доступные курсы</li>
    </ol>
    {% endblock %}

    {% block page_content %}
    {% for course in courses %}
    <div class="row">
      <div class="col-md-7">
        <a href="{% url 'courses:detail' pk=course.pk %}">
          {% if course.has_thumbnail %}
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{course.get_thumbnail_url}}" alt="course_thumbnail">
          {% endif %}
        </a>
      </div>
      <div class="col-md-5">
        <h3>Курс "{{course.title}}"</h3>
        <p>{{course.overview|truncatewords_html:40|linebreaksbr}}</p>
        {% if course.prereqs %}
          <h5>Необходимые знания:</h5>
          <p>{{course.prereqs|truncatewords_html:35|linenumbers|linebreaksbr}}</p>
        {% endif %}
          <a href="{% url 'courses:lessons' pk=course.pk %}">
            <button class="btn btn-sm btn-info mb-3">Перейти к лекциям</button>
          </a>
        {% if course.teachers.count %}
          <h5>Преподаватели курса: {{ course.teachers.all|join:", " }}</h5>
        {% endif %}
        <h5>{{course.students.count}} участников</h5>
      </div>
    </div>
    <!-- /.row -->

    <hr>
    {% endfor %}

    <!-- Pagination -->
    {% if page_obj.has_other_pages %}
    <ul class="pagination justify-content-center mb-4">
      {% for page_num in page_obj.paginator.page_range %}
        {% if page_num != page_obj.number %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active">
          <span class="page-link">{{ page_num }}</span>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}

  </div>
  <!-- /.container -->
  {% endblock %}
